@charset 'UTF-8';
/*!
 Theme: ANTENNA
 Author: Haruka Ashiuchi
 Description: 写真が目立つテーマです
 Responsive: yes
 */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Yu Gothic', YuGothic, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
#container-inner {
  width: 1000px;
  margin: auto;
}
@media screen and (max-width: 559px) {
  #container-inner {
    width: auto;
    margin: 0 1em;
  }
}
@media screen and (max-width: 959px) {
  #container-inner {
    width: auto;
    margin: 0 1em;
  }
}
#blog-title {
  margin: 100px 0;
}
#blog-title #blog-title-content {
  margin: 40px 0;
}
#blog-title #blog-title-content #title {
  font-size: 18px;
}
#blog-title #blog-title-content #blog-description {
  font-size: 1em;
  font-weight: 400;
}
#box2-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 72px 0 0;
}
@media screen and (max-width: 559px) {
  #box2-inner {
    flex-flow: column;
  }
}
.pager {
  text-align: center;
}
.pager .pager-next {
  font-size: 18px;
  font-weight: bold;
}
#footer-inner {
  padding: 72px 0 32px 0;
  display: flex;
  justify-content: center;
}
#footer-inner .footer-address {
  margin: 0 8px 0 0;
}
#footer-inner .footer-address img {
  vertical-align: sub;
}
.hatena-module {
  margin: 0 0 40px;
  flex: 0 1 32%;
}
.hatena-module .hatena-module-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 24px;
}
.hatena-module .hatena-module-body .hatena-urllist .urllist-item {
  margin: 0 0 1em;
}
.hatena-module .hatena-module-body .hatena-urllist .urllist-item:last-child {
  margin: 0;
}
.hatena-module .hatena-module-body .hatena-urllist .urllist-date-link a {
  color: #666;
}
.hatena-module .hatena-module-body .hatena-urllist .urllist-entry-body {
  color: #666;
}
.hatena-module .hatena-module-body .hatena-urllist .urllist-category-link {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 0.25em;
  margin: 0 4px 4px 0;
  display: inline-block;
  line-height: 1;
}
.hatena-module-category .hatena-urllist li {
  line-height: 1.7;
  background: #f5f5f5;
  border-radius: 4px;
  margin: 0 0 4px;
  padding: 0.25em;
  display: inline-block;
}
.entry {
  width: 660px;
  margin: 0 auto 72px;
}
@media screen and (max-width: 559px) {
  .entry {
    width: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 959px) {
  .entry {
    width: auto;
    margin: 0 auto;
  }
}
.entry .entry-header {
  display: flex;
  flex-direction: column;
  order: 1;
  position: relative;
}
.entry .entry-header .entry-date {
  font-size: 14px;
  order: 2;
  margin: 0 0 4px;
}
.entry .entry-header .entry-date a {
  color: #666;
}
.entry .entry-header .entry-title {
  font-size: 30px;
  order: 1;
  margin: 0 0 8px;
}
.entry .entry-header .entry-categories {
  order: 3;
}
.entry .entry-header .entry-categories .entry-category-link {
  font-size: 14px;
}
.entry .entry-header-menu {
  position: absolute;
  top: 0;
  right: -8%;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 0.25em;
}
.entry .entry-header-menu a {
  color: #666;
}
.entry .entry-header-menu a:hover,
.entry .entry-header-menu a:focus {
  color: #222;
}
.entry-content {
  margin: 32px 0;
}
.entry-content .table-of-contents {
  margin: 0;
  padding: 8px 1em;
  background: #f5f5f5;
}
.entry-content .table-of-contents li,
.entry-content .table-of-contents ul > li {
  list-style: none;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content p {
  margin: 30px 0;
}
.entry-content h1 {
  font-size: 30px;
}
.entry-content h2 {
  font-size: 28px;
}
.entry-content h3 {
  font-size: 26px;
}
.entry-content h4 {
  font-size: 24px;
}
.entry-content h5 {
  font-size: 22px;
}
.entry-content h6 {
  font-size: 20px;
}
.entry-content p {
  text-align: justify;
  font-size: 17px;
  line-height: 1.7;
}
.entry-content hr {
  color: #f5f5f5;
  border: 0;
  border: 1px solid #f5f5f5;
  margin: 1em 0;
}
.entry-content ul,
.entry-content ol,
.entry-content dl {
  margin-inline-start: 1em;
}
.entry-content ul li,
.entry-content ol li,
.entry-content dl li {
  line-height: 1.7;
  list-style-type: disc;
}
.entry-content ul li ul,
.entry-content ol li ul,
.entry-content dl li ul {
  margin-inline-start: 1em;
}
.entry-content pre {
  background: #323232;
  padding: 0.2em;
}
.entry-content a {
  color: #4169E1;
}
.entry-content a:hover,
.entry-content a:focus {
  text-decoration: underline;
}
.entry-content blockquote {
  padding: 8px 1em;
  border-left: 2px solid #f5f5f5;
}
.entry-content table {
  width: 100%;
}
.entry-content table th {
  background: #666;
  padding: 0.25em;
  color: #fff;
}
.entry-content table tbody tr:nth-child(2n) td {
  background: #fff;
}
.entry-content table tbody td {
  background: #ECECEC;
  padding: 0.25em;
}
.entry-footer .entry-footer-section {
  font-size: 14px;
  color: #666;
  margin: 0 0 1em;
}
.entry-footer .entry-footer-modules .hatena-module-related-entries .hatena-module-title {
  font-size: 18px;
}
.entry-footer .entry-footer-modules .hatena-module-related-entries .hatena-module-body .related-entries-item-inner {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
}
.entry-footer .entry-footer-modules .hatena-module-related-entries .hatena-module-body .related-entries-item-inner .related-entries-image-link {
  width: 220px;
}
.entry-footer .entry-footer-modules .hatena-module-related-entries .hatena-module-body .related-entries-item-inner .related-entries-image-link img {
  width: 100%;
  height: 100px;
  background-position: 50%;
}
.entry-footer .entry-footer-modules .hatena-module-related-entries .hatena-module-body .urllist-title-link {
  font-size: 1em;
}
.entry-footer .entry-footer-modules .hatena-module-related-entries .hatena-module-body .urllist-date-link a {
  color: #666;
}
.entry-footer .entry-footer-modules .hatena-module-related-entries .hatena-module-body .urllist-entry-body {
  display: none;
}
.entry-footer .entry-comment {
  margin: 0 0 1em;
}
.entry-footer .entry-comment .comment-content {
  padding: 0.25em 0;
}
.entry-footer .entry-comment .comment-metadata {
  font-size: 14px;
  color: #666;
}
.entry-footer .leave-comment-title {
  border: 1px solid #666;
  border-radius: 4px;
  padding: 0.3em 0.25em;
}
.entry-footer .leave-comment-title:hover,
.entry-footer .leave-comment-title:focus {
  color: #222;
}
.archive-entries {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0 0 120px;
}
@media screen and (max-width: 559px) {
  .archive-entries {
    flex-flow: column;
  }
}
.archive-entries .archive-entry {
  width: calc(100%/3.5);
  margin: 0 20px 72px 0;
  display: flex;
  flex-flow: column;
  -webkit-box-orient: vertical;
}
.archive-entries .archive-entry:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 559px) {
  .archive-entries .archive-entry {
    width: 100%;
    margin: 0 0 72px;
  }
}
.archive-entries .archive-entry .archive-entry-header {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0;
  order: 1;
}
.archive-entries .archive-entry .archive-entry-header .archive-date {
  font-size: 14px;
  order: 2;
}
.archive-entries .archive-entry .archive-entry-header .archive-date a {
  color: #666;
}
.archive-entries .archive-entry .archive-entry-header .entry-title {
  font-size: 1em;
  order: 1;
  margin: 0 0 8px;
}
.archive-entries .archive-entry .categories {
  order: 3;
}
.archive-entries .archive-entry .categories .archive-category-link {
  font-size: 14px;
  color: #666;
}
.archive-entries .archive-entry .entry-thumb-link {
  border: 1px solid #f5f5f5;
}
.archive-entries .archive-entry .entry-thumb {
  width: 100%;
  height: 160px;
}
.archive-entries .archive-entry .archive-entry-body {
  order: 4;
}
.archive-entries .archive-entry .archive-entry-body .entry-description {
  display: none;
}
