@text: #222;
@sub-text: #666;
@gray: #ECECEC;
@light-gray: #f5f5f5;
@accent: #4169E1;
@highlight: #FFFACD;

@viewport-md: ~"screen and (max-width: 559px)";
@viewport-lg: ~"screen and (max-width: 959px)";